{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <title>BLOG IMERSÃO</title>
</head>

<body>
    <Header>
        BLOG <span class="yellow">IMERSÃO</span>
    </Header>

    <main>
        <div class="posts">

            {% for post in posts %}

                <div class="post">
                    <h2 class="yellow" >{{post.title}}</h2>
                    <p>
                        {{post.content}}
                    </p>
                    <div class="post-footer">

                        <div class="tags">
                            {% for tag in post.tags.all %}

                                <p>
                                    <span>{{tag.name}}</span>
                                </p>

                            {% endfor %}
                        </div>

                        <span>{{ post.created_at|date:"D, d M Y" }}</span>

                    </div>
                </div>

            {% endfor %}

        </div>


    </main>

</body>

</html>